body {
    margin: 0; 
    padding: 0;
    background-color: #f7f5f1;
    text-align: center;
    min-width: 960px; 
  }

  nav {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-width: 960px; 
    position:fixed;
    top:0;
    z-index: 5;
    height: 80px; 
    background-color: #f7f5f1; 
  }

  nav .title {
      color: #424242;
      font-size: 25px;
      margin-left: 70px;
      font-weight: 300;
      display: flex;
      align-items: left;
    }

  nav .title a {
      text-decoration: None;
      color:#424242;
    }
    
  nav ul {
      list-style-type: none;
      margin-right: 100px;
      padding: 0;
      display: flex;
      align-items: center;
    }
    
  nav li {
      margin-right: 0px;
      padding: 0px 0px;
      vertical-align: middle;
    }

  nav li a {
      display:block;
      color: #424242;
      text-align: center;
      padding: 33px 16px;
      font-size: 14px;
      text-decoration: none;
      font-weight: 300;
      transition: color 0.3s ease;
    }
    
  nav li a:hover {
      color: #C6BB97;
      margin:0;
      padding:auto;
    }

  nav li .selected,
  nav li .selected:hover {
    color: #C6BB97;
  }

  svg { width: 24px; height: 24px; color: #424242; transition: color 0.3s ease;} 

  svg:hover { width: 24px; height: 24px; color: #C6BB97; } 



.social-icons {
  margin-left: 0px; /* Reduce this value to bring them closer */
  margin-right: -30px; /* Add this to control spacing */
}

/* draw as white strokes on black fill */
.social-icons .stencil {
    fill:#f7f5f1;                 /* inside is black to blend with dark bg */
    stroke:currentColor;       /* line color = white from svg { color } */
    stroke-width:26;           /* adjust thickness to taste */
    stroke-linecap:round;
    stroke-linejoin:round;
    shape-rendering:geometricPrecision;
}
.social-icons .dot {
    fill:currentColor;         
    stroke:none;
}

#title h1 {
    font-family: "Bodoni Moda", serif;
    font-size: 38px;
    margin-top: 7%;
    text-align: center;
  }

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 30px 80px 70px 80px;
  width: 65%; 
  max-width: 1200px;
  margin: 0 auto;
}

.grid-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.grid-item {
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* .grid-link:hover .grid-item {
  transform: translateY(-2px); 
} */

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 64, 64, 0.69);
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.overlay-content {
  text-align: left;
  color: white;
  padding: 40px;
  padding-top: 0px;
}

.overlay-content h3 {
  font-family: 'Bodoni Moda', serif;
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 1.4;
}

.overlay-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 5px;
}

.grid-item:hover .overlay {
  opacity: 0;
}

/* .grid-item:hover img {
  transform: scale(1.05);
} */




